body {
  font-family: 'Roboto Condensed', sans-serif;

  /* gradient */
  background: linear-gradient(90deg, #ff00e5, #ffe600);
  background-size: 400% 400%;

  animation: 10s ease infinite;

  @keyframes {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}
