html {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #404040;
}


/* top of page */

.top-bar-1 {
	padding: 2rem;

	display: grid;
  grid-template-columns: 100px 33% 100px;
	justify-content: space-between;
  align-content: space-between;

	user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
	-moz-user-select: none;
  -ms-user-select: none;
}

.top-bar-1 h1 {
	font-size: 1.5rem;
}

.top-bar-1 .logo {
	font-size: 3rem;
}

.top-bar-1 .user-page-placeholder img {
	padding: 1rem;
	width: 50%;
	height: 75%;
}


/* center page */

.center-page-content {
	padding: 2rem;

	text-align: center;
	justify-content: space-between;
  align-content: space-between;
}

.center-page-content video {
	width: 100%;
	height: 100%;
}
