html {
	background: linear-gradient(45deg, #fc0000, #ffde59);
	background-size: 1000% 1000%;

	-webkit-animation: background-gradient 10s ease infinite;
	-moz-animation: background-gradient 10s ease infinite;
	animation: background-gradient 10s ease infinite;
}

@-webkit-keyframes background-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes background-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes background-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
